<section class="section-title">
  <div>
    <h1>Projects</h1>
  </div>

  <div>
    <%= link_to 'New Project', new_project_path %>
  </div>
</section>

<section class="section-notice">
  <p id="notice"><%= notice %></p>
</section>

<section class="section-projects-list">
  <ul>
    <% @projects.each do |project| %>
      <li class="project-item">
        <h2><%= link_to project.name, project %></h2>
      </li>
    <% end %>
  </ul>
</section>
