body {
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $principal-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content-width {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .content-width {
    max-width: 1170px;
  }
}
