body {
  font-family: 'Open Sans', sans-serif;
}

.main-content {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  border-bottom: 2px solid $principal-color;

  h1 {
    font-size: 1.75em;
  }
}

.section-notice {

}
