.header {
  background-color: $principal-color;
  box-shadow: 0 1px 3px #dddddd;
  display: block;
  margin-bottom: 25px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-content {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  position: relative;

  h1 {
    display: inline;
    font-size: 31px;
  }

  a {
    color: $header-text-color;
    padding: 10px 0;
  }
}

.site-title {
  float: left;
}

.mobile-menu-bar {
  float: right;
  font-size: 31px;
}

.header-menu {
  display: none;
  float: right;

  li {
    display: inline-flex;
    font-size: 21px;
  }

  a {
    margin-left: 15px;
    padding: 17px 0;
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }
}

@media (min-width: $header-section-breakpoint){
  .mobile-menu-bar {
    display: none;
  }

  .header-menu {
    display: block;
  }
}
