.main-section {
  margin-left: auto;
  margin-right: auto;
  padding: 80px 15px 20px;
}

.content-header {
  border-bottom: 2px solid $principal-color;
  font-size: 1.75em;
  margin-bottom: 10px;
  padding-bottom: 10px;

  h1 {
    display: inline;
  }
}

.main-section-title-hidden {
  margin-bottom: 0;
}

.main-section-title-show {
  margin-bottom: 10px;
}

.main-section-options-button {
  float: right;
}

.section-options-hidden {
  display: none;
}

.section-options-show {
  border-top: 2px solid $principal-color;
  display: block;
  margin-bottom: -10px;

  a {
    color: $text-color;
    display: block;
    font-size: large;
    padding: 4px 0;
  }

  ul {
    padding: 0 5px;
  }

  li {
    border-top: 1px solid $text-color;
  }

  li:first-child {
    border-top: 0;
  }
}
