.section-projects-options {
  form {
    display: inline;
  }

  a {
    float: right;
  }
}

.section-projects-list {
  ul {
    padding-left: 0;
  }
}

.project-item {
  border-top: 1px solid #dddddd;
  list-style: none;

  h2 {
    font-weight: 400;
  }

  a {
    color: #3e4d5c;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
